* {
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: 'Lucida Console';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 80vw;
  overflow-y: scroll;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100vw;
  }
}

.leftCol,
.rightCol {
  width: 50%;
  padding: 1rem;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .leftCol,
  .rightCol {
    width: 100%;
  }
}

#ranking {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  counter-reset: item;
  list-style-type: none;
}

#ranking .team {
  height: 35px;
  width: 100%;
  display: flex;
}

#ranking .team:before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  border: 1px solid;
  content: counter(item) '  ';
  counter-increment: item;
}

#ranking .team * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid;
}

#ranking .team img {
  width: 10%;
  object-fit: contain;
}

#ranking .team span {
  width: 80%;
}

.rightCol {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#leagueSelection {
  width: 200px;
}

#teams {
  border: 1px solid;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#teams .team {
  width: 120px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team img {
  width: 60px;
}
